label{
	font-weight: 200;
}
form input{
	margin-bottom: 10px;
}
.home{
	padding: 20px;
}
.center{
	text-align: center;
}
.formContainer{
	margin-right: auto;
	margin-left: auto;
	max-width: 300px;
}

.hide{
	display: none;
}

#tags.tt-input{
	background-color: white !important;
}